body {
    margin: 0px;
    padding: 0px;
    background: green;
    border: 5px black double;
}

.container {
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
    background: blue;
    border: 5px black dotted;
}

.logo {
    width: 100%;
    float: left;
    background-color: yellow;
}